@model ITLab3_groupA.Models.Doctor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.hospital.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hospital.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specialty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

    </dl>
</div>

<div>
    @Html.ActionLink("Add patient to this doctor", "AddPatient", new { id = Model.Id, @class = "btn btn-primary"})
</div>

<div>
    <ul>
        @foreach(var patient in Model.patients)
        {
            <li>
                @*<a href="../../Patients/Details/@patient.Id">@patient.Name @patient.Surname</a>*@
                @Html.ActionLink(patient.Name + " " + patient.Surname, "../Patients/Details", new { id = patient.Id })
            </li>
        }
    </ul>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
