@model IEnumerable<AutoServiceWebApp.Models.Car>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxSpeed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(@item.Model, "Details", new { id = item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxSpeed)
        </td>
        <td>
            <img src="@item.ImageUrl" style="max-width:100px"/>
        </td>
        <td>
            @{
                if (User.IsInRole("Administrator"))
                {
                    @Html.ActionLink("Edit | ", "Edit", new { id = item.Id })
                    @Html.ActionLink("Details | ", "Details", new { id = item.Id })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
                else if (User.IsInRole("User"))
                {
                    @Html.ActionLink("Details | ", "Details", new { id = item.Id })
                }
            }

        </td>
    </tr>
}

</table>
